<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add new Employee</title>
    <link type="text/css" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{bootstrap.min.css}">

</head>
<body>
    <div class="col-3"></div>
    <div class="container col-6">
    <h1>Create New Employee</h1>
    <form th:object="${employee}" th:action="@{save}" method="post">
        <input type="hidden" th:field="*{id}">
        <div>
            <label th:text="Name" th:for="name"></label>
            <input type="text" class="form-control" th:field="*{name}" placeholder="Name">
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
            <label th:text="Wage" th:for="wage"></label>
            <input type="text" class="form-control" th:field="*{wage}" placeholder="Wage">
        </div>
        <div style="clear: both; display: block; height: 10px"></div>

        <input type="submit" value="Save" class="btn btn-success">
    </form>
</body>
</html>
