<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Employees Manager</title>
    <link type="text/css" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{bootstrap.min.css}">
</head>
<body>
    <div class="col-3"></div>
    <div class="container col-6">
        <h1>Employee Manager</h1>
        <table class="table table-active">
            <tr>
                <th>Name</th>
                <th>Wage</th>
            </tr>
            <tr th:each="employee: ${employees}">
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.wage}"></td>
            </tr>
        </table>
        <a href="/add" class="btn btn-success">Create Employee</a>
    </div>

</body>
</html>
